#site-logo a {
  color: #ffffff;
  text-decoration: none;
}
#site-logo a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.thought {
  margin-bottom: 6em;
}

.like{
  float:left;
  color: #ffffff;
  background-color: #375a7f;
  border-color: #375a7f;
  text-align: center;
}

.dislike{
  float:left;
  margin-left:0.5em;
  color: #ffffff;
  background-color: #375a7f;
  border-color: #375a7f;
  text-align: center;
}

.thought-content {
  white-space: pre-line;
}

.debug-info {
  padding-left: 42px;
}

.thought-input-label {
  display: block;
}

#follow, #edit {
  float: right;
}

#about-info li {
  margin-top: 1em;
}

#contact-info {
  padding-top: 1em;
  padding-bottom: 1em;
}

#site-footer {
  padding-bottom: 2em;
}

#site-footer span {
  margin-right: 2em;
}
